<h1>Gametypes#index</h1>

	<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Game</th>
      <th>Gametype</th>
      <th>Link</th>
    </tr>
  </thead>

  <tbody>
    <% @gametypes.each do |gametype| %>
      <tr>
        <td><%= gametype.map.bracket.game.title %></td>
        <td><%= gametype.name %></td>
       <td><%= link_to "Show", game_bracket_map_gametype_path(@game, @bracket, @map, gametype) %></td>
      </tr>
    <% end %>
    <td><%= link_to "New Gametype", new_game_bracket_map_gametype_path(@game, @bracket, @map) %></td>
  </tbody>
</table>