<h1>Gametypes#index</h1>

	<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Game</th>
      <th>Gametype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gametypes.each do |gametype| %>
      <tr>
        <td><%= gametype.game.title %></td>
        <td><%= gametype.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>