
// Base Game Colors
$fps-color: #4747d1;
$moba-color: #ff7733;
$more-color: #339966;
$legacy-color: #0066cc;

$fps-gradient: #4747d1;
$moba-gradient: #ff7733;
$more-gradient: #339966;
$legacy-gradient: #0066cc;