.home-gradient {
	width: 100%;
	height: 10vh;
	// margin: 2.5vh 0vw;
	background: linear-gradient(to right, #00cc99 50%, #009999 100%);;
	font-weight: 700;
	text-align: center;
}

.home-carousel {
	height: 75vh;
	width: 100%;
	background: linear-gradient(to right, #0099ff 25%, #9933ff 75%);
	margin: 2.5vh 0vw;;
}

.full-hero {
background-color: black;
height: 98vh;
}