
// Colors and Variables
$fps-color: #4747d1;
$moba-color: #ff7733;
$more-color: #339966;
$legacy-color: #0066cc;

// Basic Navbar Styling
.w3-navbar {
    background-color: #333 !important;
    color: #fff;
    a {
        padding: 13px 20px !important;
        color: #fff;
        transition: 0.3s;
        &:hover {
            background-color: #555;
        }
    }
}

.w3-navbar .w3-dropdown-content {
    a {
        color: #000 !important;
    }
}


// Logo Link
.w3-navbar a.logo-link {
    padding: 13px 40px !important;

}


// FPS Link
.w3-dropdown-hover:hover .fps-link {
    background-color: $fps-color;
    color: #000;
}

.fps-link:hover {
    background-color: $fps-color !important;
}

.fps-drop-content {
    background-color: #fff; 
    color: $fps-color;
    a:hover {
        color: $fps-color !important;
    }
}

.fps-dropnav {
    h5 {
        color: $fps-color;
        font-size: 20px;
    }
    a:hover {
            color: $fps-color;
            background-color: rgba(#000, .15);
        }
}

// MOBA Link 
.w3-dropdown-hover:hover .moba-link {
    background-color: $moba-color;
    color: #000;
}

.moba-link:hover {
    background-color: $moba-color !important;
}

.moba-drop-content {
    background-color: #fff; 
    color: $moba-color;
    a:hover {
        color: $moba-color !important;
    }
}

.moba-dropnav {
    h5 {
        color: $moba-color;
        font-size: 20px;
    }
    a:hover {
            color: $moba-color;
            background-color: rgba(#000, .15);
        }
}

// More Link 
.w3-dropdown-hover:hover .more-link {
    background-color: $more-color;
    color: #000;
}

.more-link:hover {
    background-color: $more-color !important;
}

.more-drop-content {
    background-color: #fff; 
    color: $more-color;
    a:hover {
        color: $more-color !important;
    }
}

.more-dropnav {
    h5 {
        color: $more-color;
        font-size: 20px;
    }
    a:hover {
            color: $more-color;
            background-color: rgba(#000, .15);
        }
}

// Legacy Link 
.w3-dropdown-hover:hover .legacy-link {
    background-color: $legacy-color;
    color: #000;
}

.legacy-link:hover {
    background-color: $legacy-color !important;
}

.legacy-drop-content {
    background-color: #fff; 
    color: $legacy-color;
    a:hover {
        color: $legacy-color !important;
    }
}

.legacy-dropnav {
    h5 {
        color: $legacy-color;
        font-size: 20px;
    }
    a:hover {
            color: $legacy-color;
            background-color: rgba(#000, .15);
        }
}

// Dropnav 

.w3-dropnav {
    background-color: #4c4c4c;

    width: 75% !important;
    margin: 0 auto;
    a {
        font-size: 16px;
        color: #2a2a2a;
        padding: 3px 5px;
        &:hover {
            background-color: #5a5c66;
        }
    }
}

@media screen and (min-width: 960px) {
    width: 50% !important;
}
