// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fps-item{
	height: 10px;
	width: 80%;
	background-color: green;
}

.moba-item {
	height: 10px;
	width: 80%;
	background-color: blue;

}

.more-item {
	height: 10px;
	width: 80%;
	background-color: red;

}

.legacy-item {
	height: 10px;
	width: 80%;
	background-color: orange;

}