// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$fps-color: #4747d1;
$moba-color: #ff7733;
$more-color: #339966;
$legacy-color: #0066cc;

.fps-item {
	height: 10px;
	width: 80%;
	background-color: $fps-color;
}

.moba-item {
	height: 10px;
	width: 80%;
	background-color: $moba-color;

}

.more-item {
	height: 10px;
	width: 80%;
	background-color: $more-color;

}

.legacy-item {
	height: 10px;
	width: 80%;
	background-color: $legacy-color;

}
