// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$fps-color: #4747d1;
$moba-color: #ff7733;
$more-color: #339966;
$legacy-color: #0066cc;


.fps-item {
	height: 10px;
	width: 80%;
	background-color: $fps-color;
}

.moba-item {
	height: 10px;
	width: 80%;
	background-color: $moba-color;

}

.more-item {
	height: 10px;
	width: 80%;
	background-color: $more-color;

}

.legacy-item {
	height: 10px;
	width: 80%;
	background-color: $legacy-color;

}


// Games Set and Game Box 
// it goes .game-set .game-box .game-img .game-info
.games-set {
	background-color: #333;
	margin: 2vh 0;
	padding-bottom: 15px;
	&:first-of-type {
		margin-top: 0;
	}
	&:last-of-type {
		margin-bottom: 0;
	}
}

.game-box {
	background-color: green;
	margin: 15px 0px 0px 0px ;
	&:first-child {
		margin-left: none;
	}
	&:last-child {
		margin-right: none;
	}
	&:hover {
		cursor: pointer;
	}
}

.game-box-fps {
	background-color: $fps-color; 
	padding: 10px;
}
.game-box-moba {
	background-color: $moba-color; 
	padding: 10px;
}
.game-box-more {
	background-color: $more-color; 
	padding: 10px;
}
.game-box-legacy {
	background-color: $legacy-color; 
	padding: 10px;
}

// Game Image Responsive 

.game-img {
	width: 100%;
	height: 25vh;
}

// @media screen and (max-width: 768px) {
// 	height: 15vh;
// }

// Game Title Font Size

.game-info {
	color: #000;
}
.tall-text {
	font-size: 1.25em;
	line-height: 1.25em;

}

.num-play {
	margin-bottom: 0;
	line-height: 1.25em;
	float: right;
}